* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  border: 1px solid red;
}

h2 {
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-size: x-large;
    color: #422918;
}

h4 {
  color: #f2b84b;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  .hero-banner {
    background-attachment: scroll; /* evita bugs mobile */
  }

  .hero-text h1 {
    font-size: 38px;
  }
}

body {
  background-color: #f5efe6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container-familia {
  width: 90%;
  max-width: 1200px;
  margin: 15px 0;
}

/* HEADER */
.header {
    position: relative;
    background-image: url(img/textura-cafe.jpg);
    background-size: auto;
    background-position: center;
    padding: 15px 0;
    font-size: large;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.logo {
    margin: 0px 55px;
    height: 85px;
    display: flex;
    justify-content: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-absolute {
  position: absolute;
  top: 50%;
  right: 30px; /* separación del borde del viewport */
  transform: translateY(-50%);
  display: flex;
  gap: 14px;
  z-index: 10;
}

.social-absolute a {
  color: #fff;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-absolute a:hover {
  color: #f2b84b;
  transform: scale(1.15);
}

.social {
  display: flex;
  gap: 14px;
}

.social a {
  color: #fff;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social a:hover {
  color: #f2b84b;
  transform: scale(1.15);
}


a {
  color: #fff;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

a:hover {
  color: #422918;
  transform: scale(1.15);
}

.deco { 
    background-image: url(img/textura-naranja.jpg);
    background-position: bottom;
    height: 8px;
}

/* HERO */
.hero {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

/* Banner full width */
.hero-banner {
  position: absolute;
  inset: 0;
  background-image: url("img/banner-01.jpg"); /* reemplazar */
  background-size: cover;
  background-position:right;
  background-attachment: fixed; /* parallax suave */
  z-index: 1;
}

/* Overlay degradado */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.75) 0%,
    rgba(0,0,0,0.55) 40%,
    rgba(0,0,0,0.25) 70%,
    rgba(0,0,0,0.1) 100%
  );
  z-index: 2;
}

/* Contenido */
.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
    display: flex;
    max-width: 520px;
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.hero-image {
  margin-top: 40px;
  width: 100%;
  height: 260px;
  background: #444; /* placeholder */
  border-radius: 12px;

  /* cuando uses imagen real */
  background-size: cover;
  background-position: center;
}

.hero-text h1 {
  font-family: "Texturina", serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 3px;
  line-height: 54px;
}


.hero-text p {
  margin: 18px 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: x-large;
  color:#f2b84b;
  
}

/* Botón */
.btn-primary {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #f2b84b;
  color: #422918;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

/* GASTRONOMÍA */

.gastronomia-bg {
  width: 100%;
  height: 65px;
  margin: auto;
  background-image: url(img/gastronomia.jpg);
  background-size: cover;
  background-position: center;
}

.gastronomia {
  padding: 15px 0;
  text-align: center;
}

.platos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.plato img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 10px;
}

/* DATOS */ 
.datos {
    width: 90%;
    max-width: 1200px;
    padding: 18px;
    margin: auto;
    height: 500px;
    background-image: url(img/karibu-exterior-v1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    align-content: flex-end;
}

.novia {
  width: 90%;
  max-width: 1200px;
  padding: 18px;
  margin: auto;
  text-align: right;
  height: 500px;
  background-image: url(img/novia-karibu-2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  align-content: flex-end;
}

.datos-novia {
  display: grid;
  justify-content: left;
}

.datos-novia h2 {
  text-shadow: 2px 2px 2px rgb(46, 46, 46);
  margin: 25px 0;
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-size: x-large;
  color: #fff;
}

.gastronomia_contenedor {
  text-align: left;
  margin: 35px;
}

.texto {
  margin: 8px 0px;
  text-align: justify;
  line-height: 1.6;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
  color: #6b4928;
}

.datos-texto {
  margin: 22px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 3fr;
}

.datos-texto h2 {
  text-shadow: 2px 2px 2px rgb(46, 46, 46);
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-size: x-large;
  color: #fff;
}

.datos-texto p {
  text-shadow: 2px 2px 2px rgb(46, 46, 46);
  line-height: 1.5;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
  color: #fff;
}

.datos-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.separador {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: #6b4928;
    margin: 58px 0 2px;
}

  .datos-eventos {
    text-align: center;
    padding: 55px;
    display: flex;
    gap: 36px;
}

.eventos {
  width: 100%;
  margin: 8px 25px;
  line-height: 2;
}

/* UBICACIÓN */
.ubicacion {
  padding: 8px 0;
}

.ubicacion-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 35px;
  margin-bottom: 200px;
}

.mapa {
  height: 400px;
}

.familia {
  height: auto;
}

.familia p {
    margin: 5px 0 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    color: #422918; 
}

/* FOOTER */
.footer {
  background-image: url(img/textura-cafe.jpg);
  background-size: auto;
  background-position: center;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .footer-content {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

/* ===============================
   VERSIÓN MÓVIL
   =============================== */


@media (max-width: 768px) {

  /* CONTENEDOR GENERAL */
  .container {
    width: 100%;
    padding: 0 20px;
  }

.logo {
  margin: 0px 55px;
  height: 85px;
  display: flex;
  justify-content: center;
  
.hero-banner {
  /* height: 60vh; */
  /* min-height: 300px; */
  position: absolute;
  /* inset: 0; */
  background-image: url(img/banner-movil.jpg);
  /* background-size: cover; */
  /* background-position: center; */
  transform: scaleX(1);
  /* background-attachment: fixed; */
  /* z-index: 1; */
}

 .platos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 0;
}

  /* HEADER */
  header {
    position: relative;
    background-image: url(img/textura-cafe.jpg);
    /* background-size: auto; */
    /* background-position: center; */
    /* padding: 15px 0; */
    /* font-size: large; */
  }

.nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}  

  /* header .logo {
    margin-bottom: 12px;
  } */

  header nav {
    flex-direction: column;
    gap: 12px;
  }

  header .social-icons {
    margin-top: 10px;
  }

  /* HERO 
  .hero {
    height: 500px;
    padding: 80px 20px 60px;
    text-align: left;
  }
*/
  .hero h1 {
    font-size: 30px;
    line-height: 1.2;
  }

  .hero p {
    font-size: 16px;
    margin-top: 12px;
  }

  .hero .btn {
    width: 100%;
    margin-top: 20px;
  }

  /* SECCIONES */
  section {
    padding: 60px 0;
  }

  .section-content {
    flex-direction: column;
    gap: 30px;
  }

  .section-content img {
    width: 100%;
    height: auto;
  }

  .datos-texto {
  margin: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.texto {
  margin: 8px 0px;
  text-align: justify;
  line-height: 1.6;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  color: #6b4928;
}

.datos-texto p {
  text-shadow: 2px 2px 2px rgb(46, 46, 46);
  line-height: 1.5;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  color: #fff;
}

  .datos-eventos {
  text-align: center;
  padding: 55px;
  display: flex;
  gap: 36px;
  flex-direction: column;
  align-items: center;
}

  /* TEXTOS */
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }

  .ubicacion-grid {
    display: grid;
    grid-template-columns: none; 
    gap: 60px;
    margin-bottom: 100px;
}

.novia {
    /* width: 90%; */
    /* max-width: 1200px; */
    /* height: 400px; */
    /* padding: 18px; */
    /* margin: auto; */
    text-align: center;
    height: 345px;
    background-image: url(img/novia-karibu-2.jpg);
    /* background-size: cover; */
    /* background-position: center; */
    border-radius: 10px;
    /* align-content: flex-end; */
}

  /* FOOTER */
  footer {
    text-align: center;
  }

  footer .footer-columns {
    flex-direction: column;
    gap: 20px;
  }

    .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
